Pemi.Esoda.Web.UI/Service References/ePUAP.Skrytka.Service/obiektypk.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns="http://wsdl.epuap.gov.pl/obiekty/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://wsdl.epuap.gov.pl/obiekty/" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation>Wersja 1.2 z dnia 28.07.2008</documentation>
    <appinfo>$Revision: 1.4 $</appinfo>
  </annotation>
  <simpleType name="IdentyfikatorPodmiotuTyp">
    <restriction base="string">
      <length value="10" />
    </restriction>
  </simpleType>
  <simpleType name="IdentyfikatorDokumentuTyp">
    <restriction base="string" />
  </simpleType>
  <complexType name="StatusTyp">
    <sequence>
      <element name="kod" type="int" />
      <element name="komunikat" type="string" />
    </sequence>
  </complexType>
  <complexType name="WyjatekTyp">
    <sequence>
      <element name="kod" type="int" />
      <element name="komunikat" type="string" />
    </sequence>
  </complexType>
  <complexType name="DaneNadawcyTyp">
    <sequence>
      <element minOccurs="0" name="uzytkownik" type="string">
        <annotation>
          <documentation>Identyfikator (login) użytkownika</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="system" type="string">
        <annotation>
          <documentation>Identyfikator systemu</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DanePodmiotuTyp">
    <sequence>
      <element name="identyfikator" type="string">
        <annotation>
          <documentation>Identyfikator podmiotu, w imieniu którego działa użytkownik</documentation>
        </annotation>
      </element>
      <element name="typOsoby" type="string">
        <annotation>
          <documentation>P - prawna, F - osoba fizyczna</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="imieSkrot" type="string" />
      <element minOccurs="0" name="nazwiskoNazwa" type="string" />
      <element minOccurs="0" name="nip" type="string" />
      <element minOccurs="0" name="pesel" type="string" />
      <element minOccurs="0" name="regon" type="string" />
      <element name="zgoda" type="boolean">
        <annotation>
          <documentation>Czy jest zgoda na otrzymywanie korespondencji drogą elektroniczną?</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DokumentTyp">
    <sequence>
      <element name="nazwaPliku" type="string" />
      <element minOccurs="0" name="typPliku" type="string" />
      <element name="zawartosc" type="base64Binary" />
    </sequence>
  </complexType>
  <complexType name="OdpowiedzSkrytkiTyp">
    <sequence>
      <element name="status" type="ns:StatusTyp" />
      <element name="identyfikatorDokumentu" type="ns:IdentyfikatorDokumentuTyp" />
      <element minOccurs="0" maxOccurs="1" name="identyfikatorUpp" type="ns:IdentyfikatorDokumentuTyp" />
      <element minOccurs="0" name="statusOdbiorcy" type="ns:StatusTyp" />
      <element minOccurs="0" name="zalacznik" type="ns:DokumentTyp" />
    </sequence>
  </complexType>
  <complexType name="OdpowiedzDoreczycielaTyp">
    <sequence>
      <element name="status" type="ns:StatusTyp" />
      <element name="identyfikatorDokumentu" type="ns:IdentyfikatorDokumentuTyp" />
      <element name="identyfikatorZlecenia" type="string" />
    </sequence>
  </complexType>
  <complexType name="OdpowiedzOdbiorcyTyp">
    <sequence>
      <element name="status" type="ns:StatusTyp" />
      <element minOccurs="0" name="zalacznik" type="ns:DokumentTyp" />
    </sequence>
  </complexType>
  <complexType name="ZapytaniePullTyp">
    <annotation>
      <documentation>
        		Ogólny, abstrakcyjny typ zapytania metod PULL
        		Poszczególne zapytania metod PULL dziedziczą z tego typu.
        	</documentation>
    </annotation>
    <sequence>
      <element name="podmiot" type="ns:IdentyfikatorPodmiotuTyp" />
      <element name="nazwaSkrytki" type="string" />
      <element name="adresSkrytki" type="string" />
    </sequence>
  </complexType>
  <complexType name="ZapytaniePullOczekujaceTyp">
    <complexContent mixed="false">
      <extension base="ns:ZapytaniePullTyp" />
    </complexContent>
  </complexType>
  <complexType name="ZapytaniePullPobierzTyp">
    <complexContent mixed="false">
      <extension base="ns:ZapytaniePullTyp" />
    </complexContent>
  </complexType>
  <complexType name="ZapytaniePullPotwierdzTyp">
    <complexContent mixed="false">
      <extension base="ns:ZapytaniePullTyp">
        <sequence>
          <element name="skrot" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OdpowiedzPullTyp">
    <annotation>
      <documentation>
        		Ogólny, abstrakcyjny typ odpowiedzi metod PULL
        		Poszczególne odpowiedzi metod PULL dziedziczą z	tego typu.
        	</documentation>
    </annotation>
    <sequence>
      <element name="status" type="ns:StatusTyp" />
    </sequence>
  </complexType>
  <complexType name="OdpowiedzPullOczekujaceTyp">
    <complexContent mixed="false">
      <extension base="ns:OdpowiedzPullTyp">
        <sequence>
          <element name="oczekujace" type="int" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OdpowiedzPullPobierzTyp">
    <complexContent mixed="false">
      <extension base="ns:OdpowiedzPullTyp">
        <sequence>
          <element name="danePodmiotu" type="ns:DanePodmiotuTyp" />
          <element name="daneNadawcy" type="ns:DaneNadawcyTyp" />
          <element name="dataNadania" type="dateTime" />
          <element name="nazwaSkrytki" type="string" />
          <element name="adresSkrytki" type="string" />
          <element name="adresOdpowiedzi" type="string" />
          <element name="czyTestowe" type="boolean" />
          <element name="daneDodatkowe" type="base64Binary" />
          <element name="dokument" type="ns:DokumentTyp" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OdpowiedzPullPotwierdzTyp">
    <complexContent mixed="false">
      <extension base="ns:OdpowiedzPullTyp" />
    </complexContent>
  </complexType>
  <element name="StatusSkrytki" type="ns:StatusTyp" />
  <element name="StatusOdbiorcy" type="ns:StatusTyp" />
  <element name="StatusDoreczyciela" type="ns:StatusTyp" />
  <element name="Wyjatek" type="ns:WyjatekTyp" />
  <element name="DaneNadawcy" type="ns:DaneNadawcyTyp" />
  <element name="DaneNadawcyAny" type="ns:DaneNadawcyTyp" />
  <element name="DanePodmiotu" type="ns:DanePodmiotuTyp" />
  <element name="DanePodmiotuAny" type="ns:DanePodmiotuTyp" />
  <element name="Dokument" type="ns:DokumentTyp" />
  <element name="UPD" type="ns:DokumentTyp" />
  <element name="DataNadania" type="dateTime">
    <annotation>
      <documentation>Data i czas nadania dokumentu na skrytkę</documentation>
    </annotation>
  </element>
  <element name="DataNadaniaAny" type="dateTime" />
  <element name="NazwaSkrytki" type="string">
    <annotation>
      <documentation>Nazwa skrytki</documentation>
    </annotation>
  </element>
  <element name="NazwaSkrytkiAny" type="string" />
  <element name="AdresSkrytki" type="string">
    <annotation>
      <documentation>Adres skrytki</documentation>
    </annotation>
  </element>
  <element name="AdresSkrytkiAny" type="string" />
  <element name="AdresOdpowiedzi" type="string">
    <annotation>
      <documentation>Adres skrytki zwrotnej (na odpowiedzi)</documentation>
    </annotation>
  </element>
  <element name="AdresOdpowiedziAny" type="string" />
  <element xmime:expectedContentTypes="text/xml" name="DaneDodatkowe" type="base64Binary">
    <annotation>
      <documentation>Dodatkowe dane dowolnego typu</documentation>
    </annotation>
  </element>
  <element xmime:expectedContentTypes="text/xml" name="DaneDodatkoweAny" type="base64Binary" />
  <element name="OdpowiedzSkrytki" type="ns:OdpowiedzSkrytkiTyp" />
  <element name="OdpowiedzDoreczyciela" type="ns:OdpowiedzDoreczycielaTyp" />
  <element name="OdpowiedzOdbiorcy" type="ns:OdpowiedzOdbiorcyTyp" />
  <element name="ZapytaniePullOczekujace" type="ns:ZapytaniePullOczekujaceTyp" />
  <element name="ZapytaniePullPobierz" type="ns:ZapytaniePullPobierzTyp" />
  <element name="ZapytaniePullPotwierdz" type="ns:ZapytaniePullPotwierdzTyp" />
  <element name="OdpowiedzPullOczekujace" type="ns:OdpowiedzPullOczekujaceTyp" />
  <element name="OdpowiedzPullPobierz" type="ns:OdpowiedzPullPobierzTyp" />
  <element name="OdpowiedzPullPotwierdz" type="ns:OdpowiedzPullPotwierdzTyp" />
  <element name="IdentyfikatorPodmiotu" type="ns:IdentyfikatorPodmiotuTyp" />
  <element name="PodmiotOdbierajacy" type="ns:IdentyfikatorPodmiotuTyp" />
  <element name="TGSID" type="string" />
  <element name="IdentyfikatorDokumentu" type="ns:IdentyfikatorDokumentuTyp" />
  <element name="IdentyfikatorSprawy" type="string" />
  <element name="IdentyfikatorUpp" type="ns:IdentyfikatorDokumentuTyp" />
  <element name="CzynnoscPull" type="short" />
  <element name="SkrotDokumentu" type="string" />
  <element name="CzyTestowe" type="boolean" />
  <element name="CzyTestoweAny" type="boolean" />
  <element name="CzyProbne" type="boolean" />
  <element name="TerminDoreczenia" type="dateTime" />
  <element name="NazwaPlikuAny" type="string" />
  <element name="DokumentAny" type="anyType" />
</schema>